---
---
<div class="code-message ml-auto md:w-[70%] md:pl-12" aria-label="AI (The Code)">
  <div
    class="relative font-mono text-sm leading-tight text-accent/90 bg-accent/5 p-4 rounded-[0.25rem_2rem_2rem_2rem] border border-accent/10"
  >
    <slot />
  </div>
</div>
