---

---

<div
  class="dialogue-mirror relative my-12 grid grid-cols-1 gap-y-8 md:grid-cols-2 md:gap-y-0"
>
  <!-- The Mirror Line (Desktop only) -->
  <div
    class="absolute top-0 left-1/2 hidden h-full w-px -translate-x-1/2 bg-accent/20 md:block"
  >
  </div>
  <slot />
</div>
