---
---
<div class="dialogue-mirror relative my-16 flex flex-col gap-y-12">
  <!-- The Mirror Line (Desktop only) -->
  <div
    class="absolute top-0 left-1/2 hidden h-full w-px -translate-x-1/2 bg-accent/20 md:block"
  >
  </div>
  <slot />
</div>
